body{
	width: 100%;
	margin:auto;
	background: linear-gradient(to left,SlateGrey, Beige, SlateGrey);
}
.container{
	width: 960px;
	margin:0 auto;
}

.header{
	background: grey;
	width: 100%;
	top: 0;
	position: fixed;
	opacity: .7;
}
.logo{
	float: left;
	font-family: "elephant";
	font-size: 15px;

}
a{
	text-decoration: none;
}
li{
	list-style: none;
	float: left;
	margin-left: 15px;
	padding-top: 10px;
}
.nav{
	float: right;
}
.bac{
	background:green;
}
.box{
	width: 100px;
	height: 150px;
	position: inherit;
	margin-top:0;
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
}

.boxes{
	padding-left: 15%;
	padding-top: 8%;
}
.black.black { background: red;
}
.black.red {

}
.black.blue {
}
.black.yellow {
}

.black:checked ~ .boxes >.black,
.red:checked ~ .boxes >.red,
.blue:checked ~ .boxes >.blue,
.yellow:checked ~ .boxes >.yellow{
	opacity: 1;
}

.black:checked ~ .labels >.b-label,
.red:checked ~ .labels >.r-label,
.blue:checked ~ .labels >.bl-label,
.yellow:checked ~ .labels >.y-label{
	background-color: green;
}



.labels{
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%);
}

.s-index{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: white;
	display: inline-block;
	margin-right: 6px;
	cursor: pointer;
	border: 1px solid;
}

.rnav{
	display: none;

}
.color{
	background: red;
}


.head1{
	float: left;
	color: crimson;
	padding-left: 20px;
}
.head2{
	float: right;
	color: crimson;
	padding-right: 
}
.cont{
	height:200px;
	width: 1350px;
}
.b{
height: 185px;
	width: cover;

		
}
.a{
	height: 100px;
	width: 400px;
	background-color: white;
	
	
	opacity: .7;
	padding-left:3%;
	padding-top: 1%;
	padding-right: 10px;	
	float: right;
}
.d{
height: 185px;
	width: 500px;
	background-color: white;
	
	opacity: .7;
	padding-left:3%;
	padding-top: 1%;
	padding-right: 10px;
	float: left;
}

h3{
	color: #b3083d;
}
.c{
	height: 175px;
	width: 500px;
	background-color: white;
	opacity: .7;
	margin-left: 195px;
	padding-left:3%;
	padding-top: 1%;
	padding-right: 10px;

}
.video{
	color: crimson;
	padding-left: 20px;
}

footer {
  color:#fff;
  margin-top: 300px;
  position: absolute;
  background: transparent url(../img/transparent.png) repeat;
  width: 100%;
  border: 1px solid #888;
  background-color: #f5f5f5;
  opacity: .7;
  border-radius: 5px;

}